
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Header and Footer Styles */
.header {
    background-color: #444444; /* Dark gray background for the header */
    color: white; /* White text color */
    text-align: center; /* Centers text */
    padding: 20px; /* Adds padding inside the header */
}

.header h1 {
    font-size: 3em; /* Increases font size for the main title */
    margin-bottom: 10px; /* Adds space below the title */
    letter-spacing: 2px; /* Increases space between letters */
}

.header p {
    font-size: 1.2em; /* Sets the font size for the header paragraph */
    margin: 0; /* Removes default margin */
}

/* Sidebar Styles */
.sidebar {
    background-color: #333333;
    color: white;
    padding: 10px;
    vertical-align: top;
    width: 20%;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

/* Main content table styles */
.main-content td {
    padding: 10px;
}

/* Features row style */
.features-row {
    padding: 10px;
}

/* Applying specific widths for responsive design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}